<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article %><br />
    <%= f.text_field :article %>
  </div>

  <!--<div class="field">
	<%= f.label :subcategory, "Article is a Member of:" %><br />
	<%= f.select(:subcategory_id, Subcategory.all.collect {|s| [s.subcategory, s.id]}) %>
  </div>-->
  
  <% for subcategory in Subcategory.all %>
  <div>
	<%= check_box_tag "article[subcategory_ids][]", subcategory.id, @article.subcategories.include?(subcategory) %>
	<%= subcategory.subcategory %>
  </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
