<p>
  <b>Template:</b>
  <%= @template.template %><br />
  <b>Subcategory:</b>
  <%= @template.subcategory.subcategory %><br />
</p>

<%= link_to 'Index', templates_path %> |
<%= link_to 'New', new_template_path %> |
<%= link_to 'Edit', edit_template_path %>
