<%= gravatar_for @user %>
<h2><%= @user.first_name + " " + @user.second_name + " " + @user.third_name %></h2>

<h3>Username:
	<%= @user.username %></h3>

<p>
  <b>Organization:</b>
  <%= @user.organization %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
