<h1>Listing blanks</h1>

<table>
  <tr>
    <th>Intro question</th>
    <th>Blank</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blanks.each do |blank| %>
  <tr>
    <td><%= blank.intro_question %></td>
    <td><%= blank.blank %></td>
    <td><%= link_to 'Show', blank %></td>
    <td><%= link_to 'Edit', edit_blank_path(blank) %></td>
    <td><%= link_to 'Destroy', blank, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blank', new_blank_path %>
