<p id="notice"><%= notice %></p>

<p>
  <b>Style name:</b>
  <%= @style.style_name %>
</p>

<p>
  <b>Style text:</b>
  <%= @style.style_text %>
</p>


<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
