<p>
  <b>Provision:</b><br />
  <%= @provision.provision %><br />
  <b>Iteration of:</b><br />
  <%= @provision.section.section %><br />
</p>

<%= link_to 'Index', provisions_path %> |
<%= link_to 'New', new_provision_path %> |
<%= link_to 'Edit', edit_provision_path(@provision) %> 