<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @category.category %>
</p>


<%= link_to 'Index', categories_path %> |
<%= link_to 'New', new_category_path %> |
<%= link_to 'Edit', edit_category_path %>
